
.cssh-media-placeholder__media{
    position: var(--csshMediaPlaceholderMediaPosition, absolute);
    top: var(--csshMediaPlaceholderMediaTop, 0);
    left: var(--csshMediaPlaceholderMediaLeft, 0);
    max-width: var(--csshMediaPlaceholderMediaMaxWidth, 100%);
}
