
.cssh-media-placeholder__media{
    position: var(--csshMediaPlaceholderMediaPosition, absolute) !important;
    top: var(--csshMediaPlaceholderMediaTop, 0) !important;
    left: var(--csshMediaPlaceholderMediaLeft, 0) !important;
    max-width: var(--csshMediaPlaceholderMediaMaxWidth, 100%) !important;
}
