
@import '__media.css';

.cssh-media-placeholder{
    position: var(--csshMediaPlaceholderPosition, relative) !important;
}

.cssh-media-placeholder::before{
    content: "" !important;
    display: block !important;
    padding-top: var(--csshMediaPlaceholderRatio) !important;
    background-color: var(--csshMediaPlaceholderBgColor) !important;
}
