
@import '__media.css';

.cssh-media-placeholder{
    position: var(--mediaPlaceholderPosition, relative);
    padding-top: var(--mediaPlaceholderRatio);
    background-color: var(--mediaPlaceholderBgColor);
}
