
@import '__group.css';

.cssh-h-list{
    display: var(--csshHListDisplay, flex) !important;
    flex-wrap: var(--csshHListFlexWrap, wrap) !important;
    align-items: var(--csshHListAlignItems, center) !important;
}
